{% extends '@layout/default.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<form>
    edit form
    <input type="text">
</form>
<small>Pagina <strong>{{title}}</strong> in limba {{language}}</small>
{% endblock %}
