{% extends '@layout/default.html.twig' %}

{% block title %}Pages{% endblock %}

{% block content %}
<a target="_self" href="{{ url('admin.page', {'action': 'add'}) }}">Add new page</a>
<ul id="navigation">
{% for page in pages %}
    <li>
        <a target="_self" href="/{{ page.slug }}.html">{{ page.title }}</a>
        <a target="_self" href="{{ url('admin.page', {'action': 'edit','id' : page.id}) }}">edit</a>
    </li>
{% endfor %}
</ul>
{% endblock %}
