_old/

# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# cache files
data/cache/

# themes
templates/theme/
public/theme/

# modules configs
# - Auth/Strategy/Google
src/Auth/Strategy/Google/strategy.config.php