{% extends '@layout/default.html.twig' %}

{% block title %}Page templates{% endblock %}

{% block content %}
<a target="_self" href="{{ url('admin.page-template', {'action': 'add'}) }}">Add new page template</a>
<ul id="navigation">
{% for page_template in page_templates %}
    <li>
        <a href="#">{{ page_template.name }} - [{{ page_template.path }}]</a>
        <a target="_self" href="{{ url('admin.page-template', {'action': 'edit','id' : page_template.id}) }}">edit</a>
    </li>
{% endfor %}
</ul>
<hr>
{% endblock %}
