{% extends '@layout/default.html.twig' %}

{% block title %}by-mistake.com{% endblock %}

{% block content %}
<h1>Post - theme coco</h1>
{% autoescape %}
    {{ content|raw }}
{% endautoescape %}
{% endblock %}