{% extends '@layout/default.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<a target="_blank" href="{{ url('admin.page-category', {'action': 'add'}) }}">Add new page category</a>
<ul id="navigation">
{% for page_category in page_categories %}
    <li>
        <a href="#">{{ page_category.name }}</a>
        <a target="_blank" href="{{ url('admin.page-category', {'action': 'edit','id' : page_category.id}) }}">edit</a>
    </li>
{% endfor %}
</ul>
<hr>
{% endblock %}
